<a href="<%= contact_path(contact) %>">
  <div class="<%= @contact ? "contact-active" : "contact" %>">
    <p class="font-bold"><%= contact.name %></p>
    <p>Email: <%= contact.email %></p>
    <p>Phone: <%= contact.phone %></p>
  </div>
</a>