<%= form_with(model: @contact) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="grid grid-cols-[100px_1fr] gap-1">
    <div class="text-right">
      <p class="form-label">
        <%= f.label :name %>
      </p>
      <p class="form-label">
        <%= f.label :email %>
      </p>
      <p class="form-label">
        <%= f.label :phone %>
      </p>
    </div>
    <div>
      <p>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.email_field :email %>
      </p>
      <p>
        <%= f.text_field :phone %>
      </p>
    </div>
  </div>
  <div class="category-joined w-fit ml-8">
    <%= f.submit "Submit" %>
  </div>
<% end %>